<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listado de Mascotas</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Veterinaria</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
					aria-controls="offcanvasDarkNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1"
					id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark
							offcanvas</h5>
						<button type="button" class="btn-close btn-close-white"
							data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="#">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Dropdown </a>
								<ul class="dropdown-menu dropdown-menu-dark">
									<li><a class="dropdown-item" href="#">Action</a></li>
									<li><a class="dropdown-item" href="#">Another action</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" href="#">Something else
											here</a></li>
								</ul></li>
						</ul>
						<form class="d-flex mt-3" role="search">
							<input class="form-control me-2" type="search"
								placeholder="Search" aria-label="Search">
							<button class="btn btn-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<h1>Lista de Mascotas</h1>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Nombre</th>
					<th>Identificacion</th>
					<th>Contrasena</th>
					<th>Tipo Animal</th>
					<th>Raza</th>
					<th>Sexo</th>
					<th>Edad</th>
					<th>Dueño</th>
					<th>Celular</th>
					<th>Direccion</th>
					<th>Opcion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mascota : ${mascotas}">
					<td th:text="${mascota.nombre}">Nombre</td>
					<td th:text="${mascota.identificacion}">Identificacion</td>
					<td th:text="${mascota.contrasena}">Contrasena</td>
					<td th:text="${mascota.tipo_animal}">Tipo Animal</td>
					<td th:text="${mascota.raza}">Raza</td>
					<td th:text="${mascota.sexo}">Sexo</td>
					<td th:text="${mascota.edad}">Edad</td>
					<td th:text="${mascota.nombre_dueno}">Dueno</td>
					<td th:text="${mascota.celular}">Celular</td>
					<td th:text="${mascota.direccion}">Direccion</td>

				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>